{% if include.init %}
	{% assign menu = include.folder | remove: '/pages/' | append: '/' | remove: '//' | replace: '/', '-' | prepend: 'left-menu-' %}
	{% assign menu-items = site.data[menu] %}
	{% assign last-char = page.url | slice: -1, 1 %}
	{% if last-char == '/' %}
		{% assign searched-item = 'index' %}
	{% else %}
		{% assign searched-item = page.url | remove: '.html' | split: '/' | last %}
	{% endif %}
	{% assign path-items = '' | split: '' | shift %}
	{% include left-menu.html init-items = menu-items items = menu-items searched-item = searched-item path-items = path-items %}
{% elsif include.searched-item != null %}
	{% for item in include.items %}
		{% assign arr-title = item.title | prepend: '//' | split: '//' | shift %} 
		{% assign path-items = include.path-items | concat: arr-title %}
		{% if item.file == include.searched-item %}
			<nav class='col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar left'>
				<ul>
					{% include left-menu.html items = include.init-items folder = include.folder path-items = path-items file = item.file %}
				</ul>
			</nav>
		{% else if item.subitems != null %}
			{% assign menu-items = item.subitems %}
			{% include left-menu.html init-items = include.init-items items = menu-items searched-item = include.searched-item path-items = path-items %}
		{% endif %}
	{% endfor %}
{% else %}
	{% for item in include.items %}
		{% if item.file == null %}
			{% assign url = '#'%}
		{% else %}
			{% assign url = include.folder | append: item.file | append: '.html' %}
		{% endif %}
		{% if include.path-items[0] == item.title %} 
			{% assign isInPath = true %}
		{% else %} 
			{% assign isInPath = false %}
		{% endif %}
		{% if isInPath and include.path-items.size == 1 and include.file == item.file %} 
			{% assign isActive = true %} 
		{% else %}
			{% assign isActive = false %}
		{% endif %}
		<li {% if item.subitems != null %} class='sub-menu' {% endif %}>
			<a {% if isActive %} class='active' {% endif %} href='{{ url }}'>{{ item.title }}{% if item.subitems != null %}<div class='fa right {% if isInPath %} fa-caret-down {% else %} fa-caret-up {% endif %}'></div>{% endif %}</a>
			{% if item.subitems != null %}
				{% assign menu-items = item.subitems %}
				{% assign path-items = include.path-items | shift %}
				<ul class='{% if isInPath %} opened {% else %} hidden {% endif %}'>
					{% include left-menu.html items = menu-items folder = include.folder path-items = path-items file = include.file %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endif %}