/*
 * Base structure
 */
 
@media print {
	.sidebar {
		display:none !important;
	}
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * Drop down left menu
 */
 
nav.left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* All levels */
nav.left ul li a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

nav.left ul li a .fa {
  width: 16px;
  text-align: center;
  padding-top:5px;
  margin-right: 5px;
}

/* Level 1 */
nav.left > ul > li > a:hover {
  background: #2980b9;
  color: #FFF;
}

nav.left > ul > li > a {
  background: #F7F7F7;
  color: #292B2C;
  padding: 10px 15px;
}

nav.left > ul > li > a.active {
  background: #2980b9;
  color: #FFF;
}

/* Level 2 */
nav.left > ul > li > ul > li > a {
  background: #777;
  border-left: 4px solid transparent;
  color: #FFF;
  padding: 10px 15px 10px 20px;
}

/* Level 3 */
nav.left > ul > li > ul > li > ul > li > a {
  background: #555;
  border-left: 4px solid transparent;
  color: #FFF;
  padding: 10px 15px 10px 29px;
}

/* Level 4 */
nav.left > ul > li > ul > li > ul > li > ul > li > a {
  background: #333;
  border-left: 4px solid transparent;
  color: #FFF;
  padding: 10px 15px 10px 38px;
}

/* Levels 2-n */
nav.left > ul > li ul li a:not([href]):not([tabindex]) {
  color: #fff
}

nav.left > ul > li ul li a.active,
nav.left > ul > li ul li a:hover {
  background: #88c3cc;
  border-left: 4px solid #3498db;
}

/* Float Right/Left */
.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  display: none;
}

img { max-width: 800px;}

.image-wrapper {
  margin-bottom: 5px;
}

/* Tables */
.table-style {
  /* Bootstrap's .small */
  font-size: 80%;
  font-weight: 400;
}

/* Bootstrap's .table-sm */
.table-style td,
.table-style th {
  padding:.3rem
}

/* Bootstrap's .table-bordered header style */
.table-style thead th {
  border-bottom: 2px solid #777;
}

/* Bootstrap's .table-bordered border style */
.table-style td, .table-style th {
  border: 1px solid #777;
}

table.table-style > thead th {
  text-align: center;
  background: #f7f7f7;
}